html {
  font-size: 10px;
  width:100%;
  height: 100%;
}
body{
	background: url(../images/music.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	width:100%;
	height:9vh;
	align-items: center;
  	justify-content: center;
  	color: #52c4ff;
  	font-family: sans-serif;
  	margin-bottom: 10em;
  	margin-top;
}

button{
	width: 5%;
	height: 2em;
	text-align: center;
	border-radius: 5px;
	margin: 0 1em;
	background-color: #52c4ff;
	font-style: bold;
	margin-top: 2em;
	display: inline-block;
  opacity: .75;
}
.conetent{
	display: inline-block;
}


.instrumentChoice{
	width:33%;
	height: 10%;
	text-align: center;
	font-size: 3em;
	vertical-align: center;

}

.allKeys {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-top: -10em;
  margin-top: 3em;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .1s ease;
  width: 8vw;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .6rem black;
  float:left;
}

.played {
  transform: scale(1.1);
  border-color: #52c4ff;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
